<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://www.ethereum.org/images/logos/ETHEREUM-ICON_Black_small.png" alt="" width="200" height="200">
    <h2>Ethereum Account Management</h2>
    <p class="lead">You can create new account, get account balance and transfer fund.</p>
  </div>

  <div class="row">
    <div class="col-md-12 order-md-1">
      <h4 class="mb-3">Check Account Balance</h4>
      <form class="needs-validation" novalidate (ngSubmit)="addAccount()" #balanceForm="ngForm">
        <div class="row">
          <div class="col-md-12 mb-3">
            <label for="paddr">Public Address</label>
            <input type="text" class="form-control" id="paddr" name="paddr" #paddr="ngModel" placeholder="Public Address" [(ngModel)]="publicAddress" required minlength="40">
            <div class="invalid-feedback" *ngIf="paddr.invalid && (paddr.dirty || paddr.touched)">
              Valid public address (min 40 chars) is required.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 mb-3">
            <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="!balanceForm.form.valid">Submit</button>
          </div>
        </div>
        <ether-account (onClosed)="etherAccCloseClicked($event)" *ngFor="let acc of balances" [publicAddress]="acc.publicAddress" [balance]="acc.balance"></ether-account>
      </form>
      <hr class="mb-4">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 order-md-1">
      <h4 class="mb-3">Create Account</h4>
      <form class="needs-validation" novalidate (ngSubmit)="createAccount()" [formGroup]="newAccountForm">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="paddr">Password</label>
            <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Password" formControlName="newPassword" required minlength="6">
            <div class="invalid-feedback" *ngIf="newAccountForm.controls['newPassword'].invalid && (newAccountForm.controls['newPassword'].dirty || newAccountForm.controls['newPassword'].touched)">
              Password is required and at least 6 characters.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="paddr">Confirm Password</label>
            <input type="password" class="form-control" id="paddr2" name="paddr" placeholder="Repeat Password" formControlName="repeatNewPassword" required minlength="6">
            <div class="invalid-feedback" *ngIf="newAccountForm.controls['repeatNewPassword'].invalid && (newAccountForm.controls['repeatNewPassword'].dirty || newAccountForm.controls['repeatNewPassword'].touched)">
              Repeat Password is required and at least 6 characters.
            </div>
            <div class="invalid-feedback" *ngIf="newAccountForm.errors?.mismatch && (newAccountForm.controls['repeatNewPassword'].dirty || newAccountForm.controls['repeatNewPassword'].touched)">
              Passwords don't match.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 mb-3">
            <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="!newAccountForm.valid">Submit</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-3">
              <label>Public Address </label>
              {{newAccountAddress | async}}
          </div>
        </div>
      </form>
      <hr class="mb-4">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 order-md-1">
      <h4 class="mb-3">Transfer Fund</h4>
      <form class="needs-validation" novalidate (ngSubmit)="transferEther()" [formGroup]="transferFundForm">
        <div class="row">
          <div class="col-md-12 mb-3">
            <label for="paddr">From Account</label>
            <input type="text" class="form-control" id="paddr3" name="paddr" placeholder="" formControlName="fromAddr" required>
            <div class="invalid-feedback" *ngIf="transferFundForm.controls['fromAddr'].invalid && (transferFundForm.controls['fromAddr'].dirty || transferFundForm.controls['fromAddr'].touched)">
              From account required and at least 40 characters.
            </div>
          </div>
          <div class="col-md-12 mb-3">
            <label for="paddr">To Account</label>
            <input type="text" class="form-control" id="paddr4" name="paddr" placeholder="" formControlName="toAddr" required>
            <div class="invalid-feedback" *ngIf="transferFundForm.controls['toAddr'].invalid && (transferFundForm.controls['toAddr'].dirty || transferFundForm.controls['toAddr'].touched)">
              To account is required and at least 40 characters.
            </div>
          </div>
          <div class="col-md-12 mb-3">
            <label for="paddr">Amount</label>
            <input type="number" class="form-control" id="paddr5" name="paddr" placeholder="" formControlName="amount" required>
            <div class="invalid-feedback" *ngIf="transferFundForm.controls['amount'].invalid && (transferFundForm.controls['amount'].dirty || transferFundForm.controls['amount'].touched)">
              Amount is required.
            </div>
          </div>
          <div class="col-md-12 mb-3">
            <label for="paddr">Password</label>
            <input type="password" class="form-control" id="paddr6" name="paddr" placeholder="" formControlName="password" required>
            <div class="invalid-feedback" *ngIf="transferFundForm.controls['password'].invalid && (transferFundForm.controls['password'].dirty || transferFundForm.controls['password'].touched)">
              Password is required and at least 6 characters.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 mb-3">
            <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="!transferFundForm.valid">Submit</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-3">
              <label>Receipt </label>
              {{receipt | async | json}}
          </div>
        </div>
      </form>
      <hr class="mb-4">
    </div>
  </div>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2017-2018 Yang Zhang</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>